language: cpp
os: osx
env:
- HOMEBREW_DEVELOPER=1
matrix:
  include:
  - osx_image: xcode8.2
  - osx_image: xcode7.3
    env: HOMEBREW_DEVELOPER=1 HANG_FOREVER=NO
  exclude:
  - osx_image: xcode7.3
osx_image:
- xcode7.3
install:
- brew update
- brew tap --full cartr/qt4
script:
- bash ./build-bottles.sh
deploy:
  provider: bintray
  file: bintray.json
  user: cartr
  key:
    secure: lAiWj6mj4OJihGvdCV97tmgIEI9c6kxOhxBC6SublkSiLEk6c/E5MEuPVvgOIbiAEfy1efh5grAFVmaj1+MyR5LnjtFj47/9pSHbvLGysXAZTQ4OE/sKlfo/YqIlvL+dxqZbzYbA+xqCbABc4PEiLAJ1DWEFPy8rpt/4WQH6pjK+I3ChnlhEHNYi4eAXbghk2nDMWIvE3qdg1Q7S1Ty5YvmlMqehr4bSwUeaK6wYBXH650K9e3hiCHG2W9ny8VtuRXiYdtPwTnQOEjgYphm/bz6I8w6DxJ+xH9rCmWh0VNi1saZDhm0GxZFNNnT2O7/LvSfYOee5IiPcQOS+HBTRiMUK2cZWh7HHbcBPzHUxZT3r+NsjZtPOzIdEVOG42wqDU/tf3fYy9lAsXPgONzHbH3BU1fcc0G9HJMtjs8KAeJJAGpYkwfGWXvRvFaJLcXu/8MKp/PHnobAe7glxDw3Ev2RjAJFTCNKzGHzJ0dZp3EkOBQoSZCqAGcbmfvzzVceokldhh4L6llG/uT0+lVq/Eda/gghtL05+PbSU8JE9gI8Nr465nUmlC4mzg+fLbVjX+YwNCp6R9f6YuzgL48/R1ll6wOV6JZ06f93FAAy7wdlXIZdq+KUuPzau/kMzaBwf8ikeXqQt5uZhrFnfaHS2vEzYS2UQvsnsr/6yFDuRMbs=
